:root{
    --body: rgba(245, 244, 255, 0.2);
    --card-desktop-x: 27.5rem;
    --card-desktop-y: 27rem;
    --card-mobile-x: 20rem;

    --title-card: rgba(10, 5, 61, 0.767);
    --sticked-border: 3px groove rgb(61, 27, 134)!important;

    --delay-header-img: 1s ease-in-out;
}
*{
    margin: 0;
}
.body{
    background-color:var(--body);
}
#app{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.header{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    height: 17rem;
    background-color: black;
    border-radius: 15px  15px  0px  0px; 
    background-repeat: no-repeat;
    background-size: cover;
 }.head0{
    transition: var(--delay-header-img);
    background-image: url(../images/header_bg.png);
 }.head1{
    transition: var(--delay-header-img);
    background-position-y: -270px;
    background-image: url(../images/header_bg1.png);
 }.head2{
    background-position-y: -380px;
    transition: var(--delay-header-img);
    background-image: url(../images/header_bg2.png);
 }.head3{
    background-position-y: -380px;
    transition: var(--delay-header-img);
    background-image: url(../images/header_bg3.png);
 }.head4{
    background-position-y: -180px;
    transition: var(--delay-header-img);
    background-image: url(../images/header_bg4.png);
 }
 .header-content{
    margin-left: auto;
    margin-right: auto;
    display: table;
 }.content-user{
    margin-top: 13rem;
 }.my-name{
    margin-left: auto;
    margin-right: auto;
    display: table;
    color: rgb(37, 9, 85)
}.image-profile{
    margin-left:auto;
    margin-right: auto; 
    display: table;  
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(83, 134, 228);
    transition: 0.5s
}.image-profile-nav{
    margin-left: 5px;
    margin-top: 10px;
    width: 3rem;
    height: 3rem;
    visibility: hidden;
    opacity: 0;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgba(6, 8, 70, 0);
    transition: visibility 0s, opacity 0.5s linear;
}
.image-profile:hover{
    transform: scale(1.1);
    filter: blur(1px) ;
}

/*--------------------------------------------------------------Botones*/
/*--------------------------------------------Boton maestro*/
#btn-mas{
    display: none;
}
.div-container-botones{
    position: fixed;
    bottom: 75px;
    right: 20px;
    z-index: 20;
}
.icons-butons{
    color: white;
    scale: 1.3;
}
.div-botones a, #icon-mas2{
    display: block;
    text-decoration: none;
    background-color: rgb(68, 77, 238);
    text-align: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    line-height: 60px;
    color: white;
    box-shadow: 0px 0px 10px 2px rgb(125, 72, 203);
    transition: all 0.5s ease;
}.div-botones a{
  margin-bottom: -25px;
  opacity: 0;
  visibility: hidden;
}.div-botones a:hover{
    background-color: rgb(165, 130, 241);
}

#btn-mas:checked~ .div-botones a{
    margin-bottom: 17px;
    opacity: 1;
    visibility: visible;
}
#btn-mas:checked~ .icon-mas #icon-mas2{
  transform: rotate(145deg);
}

#icon-mas2{
    cursor: pointer;
    background-color: rgb(24, 31, 163);

}

/*-----------------ProjectCards*/
.area{
    transition: 0.5s ease-in;
}
.cards-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}.div-card-body{
    height: var(--card-desktop-y);
    width: var(--card-desktop-x);
    margin: 1rem;
    float:left;
    cursor: pointer;
    background-color: white;
    box-shadow: 3px  7px 10px 3px rgb(208, 194, 194);    
    border-radius: 15px 15px 15px 15px;
    transition: 0.3s ease-in-out;
}.div-card-body:hover {
    scale: 1.03;
    transform: translateY(-10px);
    box-shadow: 7px  14px 10px 3px rgb(212, 214, 238);    
    background-color: rgb(252, 242, 242);
}.div-card-body:hover .inner-textimg-container{
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.427);
    backdrop-filter: blur(3px);
    filter: grayscale(1);
    opacity: 1
}
.project-image{
    width: 100%;
    height: 20rem;
    transition: 0.5s ease-in;
    object-fit: cover;
    margin-bottom: -10px;
    border-radius: 15px 15px 0px 0px;
}.project-image:hover{
   filter: blur(3px) grayscale(1);
   scale: 0.80;
}
.inner-textimg-container{
    width: var(--card-desktop-x);
    min-height: 20rem;
    border-radius: 15px 15px 0px 0px;
    opacity: 1;
    height: 3rem;
    position: absolute;
}
.inner-textimg-container:hover{
    background-color: rgba(0, 0, 0, 0.427);
    backdrop-filter: blur(3px);
    filter: grayscale(1);
    opacity: 1
}
.div-card-body:hover .inner-text-img{
    opacity: 1;
}
.inner-text-img, .exp-inner-text-img, .certified-inner-text-img{
    margin-left: 37%;
    margin-right:37%;
    position: absolute;
    margin-top: 9rem;
    opacity: 0;
    transition: 0.5s ease-in;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.div-description{
    margin-top: 0px;
    margin-left: 0.5rem;
    position: absolute;
    display: table;
    z-index: 1;
}.img-techtnology-project{
    object-fit: cover;
    height: 50px;
    margin-right: 2rem;
    width: 50px;
    border-radius: 50%;
}.footer{    
    bottom: 0px;
    border-top: 1px solid rgb(214, 215, 221);
    text-align: center;
    background-color: rgb(243, 230, 254);
    padding: 5px;
    margin-top: -10px
}
/*------------------------------------------------experience cards*/
.card_experience_body{
    height: var(--card-desktop-y);
    width: var(--card-desktop-x);
    margin: 1rem;
    float:left;
    cursor: pointer;
    background-color: white;
    box-shadow: 3px  7px 10px 3px rgb(208, 194, 194);    
    transition: 0.3s ease-in-out;
}
.card_experience_body:hover {
    scale: 1.02;
    transform: translateY(-5px);
    box-shadow: 7px  14px 10px 3px rgba(219, 240, 133, 0.764);    
    background-color: rgb(252, 242, 242);
}.card_experience_body:hover .exp-inner-textimg-container{
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.427);
    backdrop-filter: blur(3px);
    filter: grayscale(1);
    opacity: 1
}.card_experience_body:hover .exp-inner-text-img{
    opacity: 1;
}

.experience-image{
    width: 100%;
    height: 20rem;
    transition: 0.5s ease-in;
    object-fit: cover;
    margin-bottom: -10px;
    border-radius:  0px 0px 0px 0px;
}
.exp-inner-textimg-container {
    width: var(--card-desktop-x);
    min-height: 20rem;
    border-radius: 0px 0px 0px 0px;
    opacity: 1;
    height: 3rem;
    position: absolute;
}

.experience-image:hover{
   filter: blur(3px) grayscale(1);
   scale: 0.80;
}
/* -----------------------------Certification card */
.card_certification_body{
    height: var(--card-desktop-y);
    width: var(--card-desktop-x);
    margin: 1rem;
    float:left;
    cursor:pointer;
    background-color: white;
    box-shadow: 3px  7px 10px 3px rgb(208, 194, 194);    
    transition: 0.3s ease-in-out;
}
.certified-image{
    width: 100%;
    height: 21rem;
    transition: 0.5s ease-in;
    object-fit: cover;
    margin-bottom: -10px;
    border-radius:  0px 0px 0px 0px;
}

.certified-inner-text-container{
    width: var(--card-desktop-x);
    min-height: 21rem;
    border-radius: 0px 0px 0px 0px;
    opacity: 1;
    height: 3rem;
    position: absolute;
    transition: 0.3s ease-in;
}

.card_certification_body:hover{
    transform: translateY(-10px);
    scale: 1.03;
    box-shadow: 7px  14px 10px 3px rgba(42, 9, 190, 0.68);    
    background-color: rgb(252, 242, 242);
}
.card_certification_body:hover .certified-inner-text-img{
    opacity: 1;
}
.card_certification_body:hover .certified-inner-text-container{
    background-color: rgba(0, 0, 0, 0.427);
    backdrop-filter: blur(3px);
    filter: grayscale(1);
    opacity: 1
}

/*MODALES*/
/*modal project img*/

.image-carousel{
    object-fit:scale-down;
    width: 26rem;
    height: 25rem;
}.container-modal{
    background-color: black;
}
#cuerpo-texto{
    overflow-y: scroll;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    height: 10rem;
    text-align: left;  
}#content-buton-project{
    margin-left: auto;
    margin-right: auto;
    display:table;
    margin-top: 2rem;
    margin-bottom: 2rem;;
}.button-go{
    background-color: transparent;
    border: 2px solid rgb(90, 14, 204);
    color: 2px solid rgb(90, 14, 204);
    height: 2.5rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: 0.3s;
    border-radius: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
    display: table;
    position: relative;
    float: right;
}.button-go:hover{
    scale: 1.1;
    box-shadow: 2px 5px 7px 0px rgb(217, 63, 255);
    border: 2px solid rgb(186, 145, 246);
    color: 2px solid rgb(186, 145, 246);
    background-color: rgb(248, 230, 247);

}
.contact-form-item{
    margin-bottom: 2rem;
}.mmensaje{
    width: 100%;
    height: 100%;
}

/*----- MODAL OF CERTIFICATIONS */
.modal_bacdrop{
    background-color: rgba(28, 5, 63, 0.137);
    backdrop-filter: blur(5px);
}

.modal_certification{
    width: 50rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: table !important;
    padding: 0px !important;
}
.img_certified_modal{
    object-fit: cover;
    border-radius: 0 0 10px 10px;
    width: 50rem;
    height: 35rem;
    margin-bottom: 0rem;
}
.header_certification{
    background-color: rgba(20, 7, 103, 0.872);
    color: white;
}
.container_description{
    width: 50rem;
    position: absolute;
    opacity: 1;
    height: 35rem;
    border-radius: 0 0 10px 10px;
    transition: 0.3s ease-in-out;
}
.modal-content:hover .container_description{
    background-color: #020418bd;
    backdrop-filter: blur(5px);
}
.certification_description{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 7rem;
    font-size: 18px;
    display: table;
    transition: 0.3s ease-in;
    display: table;
    position: relative;
    color:white;
    opacity: 0;
    position: absolute;
}
.modal-content:hover .certification_description{
    opacity: 1;
}
/*----------NAV-MENU*/
.nav-container{
    width:99%;
    height: 4rem;
    background-color: rgb(41, 4, 119);
    border: 2px solid rgb(83, 41, 173); 
    position: sticky;
    top: 0;
    z-index: 10;
    transition: 0.5s ease-in;
    border-radius: 10px 10px 10px 10px;
    display: table;
}.sticked-nav{
    border-top: 0px;
    height: 5rem;
    border-left: var(--sticked-border);
    border-right: var(--sticked-border);
    border-bottom: var(--sticked-border); 
    backdrop-filter: blur(7px);
    box-shadow: 0px 2px 7px 3px rgb(161, 234, 174);
    background-color: rgba(42, 7, 79, 0.848);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 15px 2px rgb(rgb(143, 105, 105));    
}#sentinel{
    height: 1px;
    top: 0;
    margin-bottom: -1px;
    left: 0;
    right: 0;
    z-index: 0;
}.mysearch{
    margin-top: 15px;
    width: 80%;
    background-color: #eff3ffac;
    border: 2px solid #cf93e173;
    border-radius: 50px;
    color:  #040e7c;
    padding-left: 20px;
    transition: 0.5s ease-in;
    outline: 5px;
}.mysearch:focus{
    outline: 3px solid rgba(143, 138, 159, 0.718);
    outline-offset:3px;
} .mysearch::-webkit-input-placeholder{
    color: #040e7c;
}.radio-btn{
    color: white;
    padding-left: 0px;
    list-style: none;
    display: flex;
    width: 100%;
    height:100%
}.radio-btn li{
    height: 100%;
    padding: 1em 1em;
    margin-bottom: -1.5em;
    text-align: center;
    border-radius: 10px;
    transition: 0.2s ease-in;
}.radio-btn li:hover{
    background-color: #303aa1ad;
}
.radio-btn li:has(input[type="radio"]:checked){
    background-color: #5f68cdad;
    border: 1px solid rgb(214, 230, 247);
    transform: translateY(5px);
}

/*-----------------ABOUT ME*/

.centered-text{text-align: center;}
.justified-text{text-align: justify;}
.aboutme{width: 100%;}
.description{
    margin-left: auto;
    margin-right: auto;
    display: table;    
    width: 70%;
}
.skills{
    background-color: rgb(230, 232, 250);
    border-radius: 10px;
}.skill-body{
    width:10rem;
    height:10rem;
    background-color: rgb(255, 243, 250);
    border-radius: 10px;
    float: left;
    margin: 15px;
}.skill-body:hover .title-skill{
    opacity: 1;
    transform: translateY(-4rem);
}.skill-body:hover .title-skill:after{
    bottom: -7px;
}
.img-skill{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}.title-skill{
    transition: 0.3s ease-in;
    opacity: 0;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: -13rem;
    display: table;
    position: relative;
    border-radius: 10px;
    z-index: 5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    backdrop-filter: blur(10px);
    background-color: var(--title-card);
}.title-skill:after{
    transition: 0.5s ease-in;
    backdrop-filter: blur(10px);
    content: '';
    margin-left: auto;
    margin-right: auto;
    display: table;
    position:relative;
    width: 1rem;
    height: 1rem;
    z-index: 10;
    transform: rotate(45deg);
    bottom: 7px;
    background-color: var(--title-card);
    border-top-left-radius:  10px;
}
@media only screen and (max-width: 490px){
    .div-card-body, .certified-inner-text-container,.inner-textimg-container, .card_experience_body, .card_certification_body{
      width: var(--card-mobile-x);
    }.radio-btn li{
        font-size: 12px;
    }.skill-body{
        width: 7rem;
        height:7rem;
        margin: 20px;
    }.description{
        width: 90%;
    }.title-skill{
        bottom: -3rem;
    }
    .modal_certification, .img_certified_modal,.container_description, .exp-inner-textimg-container{
        width: 10rem !important;
        height: 7rem !important;
      }

    .head1, .head2{
        background-position-y: 0px;
     }
}
@media only screen and (max-width: 700px){
    .head1, .head2,.head3,.head4{
        background-position-y: 0px;
     }
     .modal_certification, .img_certified_modal, .container_description{
        width: 30rem !important;
        height: 20rem !important;
      }
}
